.footer {
  background-color: var(--background-color);
  border-radius: var(--radius);
  margin: 15px 0px;
  padding: 15px 8px;
}
.react-logo {
  font-size: 39pt;
  text-align: center;
}
@media (max-width: 576px) {
  .react-logo-container {
    display: none;
  }
}
