.footer {
  background-color: var(--background-color);
  border-radius: var(--radius);
  font-size: 12pt;
  margin: 15px 0px;
  padding: 15px 0px;
}
.icon {
  padding: 5px 0px 0px 12px;
}
.react-logo {
  font-size: 39pt;
  text-align: center;
}
@media (max-width: 576px) {
  .react-logo-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .react-logo {
    font-size: 31pt;
    text-align: left;
  }
}
@media (max-width: 992px) {
  .react-logo {
    text-align: left;
  }
}
