:root {
  --background-color: #f7f7f7;
  --dark-color: #16181d;
  --grey: #20232a;
  --blue: #61dafb;
  --radius: 5px;
  --transition: 300ms;
}
body {
  color: var(--dark-color);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
a {
  color: var(--grey);
}
a:hover {
  color: var(--link-color) !important;
  transition-duration: var(--transition);
}
.button {
  background-color: var(--background-color);
  border-radius: var(--radius);
  padding: 2px 4px;
}
.button:hover {
  background-color: var(--blue) !important;
  transition-duration: var(--transition);
}
.button:focus {
  background-color: var(--background-color);
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
