:root {
  --background-color: #f7f7f7;
  --dark-color: #16181d;
  --grey: #20232a;
  --blue: #61dafb;
  --radius: 6px;
  --transition: 300ms;
}
body {
  color: var(--dark-color);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
a {
  color: var(--grey);
}
a:hover {
  color: var(--link-color) !important;
  transition-duration: var(--transition);
}
.button {
  background-color: var(--background-color);
  border-radius: var(--radius);
  padding: 2px 4px;
}
.button:hover {
  background-color: var(--blue) !important;
  transition-duration: var(--transition);
}
.button:focus {
  background-color: var(--background-color);
}
.game {
  display: block;
  margin: 0 auto;
}
ol,
ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  font-size: 14pt;
  margin-bottom: 10px;
  text-align: center;
}
.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square:focus {
  outline: none;
}
.winning-square {
  background-color: var(--blue);
  font-weight: bolder;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.toggle-button {
  font-size: 11pt;
  margin: 0px 5px 10px 5px;
}
.currently-selected {
  font-weight: bold;
}
@media (max-width: 576px) {
  .move-button,
  .toggle-button {
    max-width: 180px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
